In [50]:
import pandas as pd
import numpy as np
import os

In [ ]:
# 서울 매출 100대 상권 기반으로 8개의 핫플레이스를 선정하였다.
# https://news.sktelecom.com/173585
# https://map.seoul.go.kr/spm/map/new_map.do

In [85]:
# 법정동 코드
# 1.신사역(가로수길)-압구정로데오역 : '압구정동','신사1동','신사2동','청담동'
sinsa = [11680545,11380631,11380631,11380632,11680565]

# 2.강남역-교대역 : '역삼1동','역삼2동','서초1동','서초2동','서초3동','서초4동'
gangnam = [11680640,11680650,11650510,11650520,11650530,11650531]

# 3.천호역 : '천호1동','천호2동','천호3동','성내2동','풍납1동'
cheonho = [11740600,11740610,11740620,11740650,11710510]

# 4.종각역-명동 : '종로1.2.3.4가동','명동'
jonggak = [11110615,11140550]

# 5.서울대입구역-낙성대역 : '청룡동','행운동','중앙동','낙성대동','인현동'
snuenter = [11620595,11620575,11620615,11620585,11620625]

# 6.노원역 : '상계2동','상계6,7동','상계10동'
noone = [11350640,11350695,11350720]

# 7.성수역-뚝섬역 : '성수1가제1동','성수1가제2동','성수2가제1동','성수2가제2동','화양동'
seongsu = [11200650,11200660,11200670,11200690,11215710]

# 8.홍대역-신촌역 : '서교동','신촌동','연희동'
hongdae = [11440660,11410585,11410615]

hotplace = sinsa+gangnam+cheonho+jonggak+snuenter+noone+seongsu+hongdae
len(hotplace)

34

In [92]:
file_list = os.listdir('/Users/minkyuramen/Desktop/INNER_PEOPLE_202208/')
print(file_list)

for file in file_list:
    file_name = file.split('.')[0]
    move_data = pd.read_csv(f'/Users/minkyuramen/Desktop/INNER_PEOPLE_202208/{file}', encoding='euc-kr')
    move_data5 = move_data.iloc[:,:5]
    for idx, i in enumerate(hotplace):
        globals()[f'{file_name}_{idx}'] = move_data5[move_data5['행정동코드']==i]
    globals()[file_name] = pd.concat([globals()[f'{file_name}_{idx}'] for idx in range(len(hotplace))])
    globals()[file_name]

['INNER_PEOPLE_20220818.csv', 'INNER_PEOPLE_20220824.csv', 'INNER_PEOPLE_20220830.csv', 'INNER_PEOPLE_20220831.csv', 'INNER_PEOPLE_20220825.csv', 'INNER_PEOPLE_20220819.csv', 'INNER_PEOPLE_20220827.csv', 'INNER_PEOPLE_20220826.csv', 'INNER_PEOPLE_20220822.csv', 'INNER_PEOPLE_20220823.csv', 'INNER_PEOPLE_20220821.csv', 'INNER_PEOPLE_20220809.csv', 'INNER_PEOPLE_20220808.csv', 'INNER_PEOPLE_20220820.csv', 'INNER_PEOPLE_20220805.csv', 'INNER_PEOPLE_20220811.csv', 'INNER_PEOPLE_20220810.csv', 'INNER_PEOPLE_20220804.csv', 'INNER_PEOPLE_20220812.csv', 'INNER_PEOPLE_20220806.csv', 'INNER_PEOPLE_20220807.csv', 'INNER_PEOPLE_20220813.csv', 'INNER_PEOPLE_20220817.csv', 'INNER_PEOPLE_20220803.csv', 'INNER_PEOPLE_20220802.csv', 'INNER_PEOPLE_20220816.csv', 'INNER_PEOPLE_20220814.csv', 'INNER_PEOPLE_20220828.csv', 'INNER_PEOPLE_20220829.csv', 'INNER_PEOPLE_20220815.csv', 'INNER_PEOPLE_20220801.csv']

In [94]:
len(set(INNER_PEOPLE_20220818['행정동코드']))

33

In [91]:
move_data5[move_data5['행정동코드']==11680640]

        ?"기준일ID"  시간대구분     행정동코드  거주지 자치구 코드  총생활인구수
8786    20220801      0  11680640       11110      55
8787    20220801      0  11680640       11140      60
8788    20220801      0  11680640       11170     120
8789    20220801      0  11680640       11200     119
8790    20220801      0  11680640       11215     154
...          ...    ...       ...         ...     ...
247741  20220801     23  11680640       11620     690
247742  20220801     23  11680640       11650    1415
247743  20220801     23  11680640       11680    3701
247744  20220801     23  11680640       11710     791
247745  20220801     23  11680640       11740     429

[600 rows x 5 columns]

In [39]:
for idx, i in enumerate(dong_num_list):
    globals()[f'move_data_0700_{idx}'] = move_data_0700[move_data_0700['출발 행정동 코드']==i]
move_data_0700_gangnam = pd.concat([globals()[f'move_data_0700_{idx}'] for idx in range(len(dong_num_list))])
move_data_0700_gangnam

,대상연월,요일,도착시간,출발 행정동 코드,도착 행정동 코드,성별,나이,이동유형,평균 이동 시간(분),이동인구(합)
343125,202207,금,0,1123064,1101053,F,20,EH,29,*
343126,202207,금,0,1123064,1101053,F,25,EH,78,*
343127,202207,금,0,1123064,1101053,F,35,EH,53,3
343128,202207,금,0,1123064,1101053,M,15,WH,157,4.49
343129,202207,금,0,1123064,1101053,M,30,EH,34,*
...,...,...,...,...,...,...,...,...,...,...
2788084,202207,화,0,1122054,36000,F,30,EH,264,*
2788085,202207,화,0,1122054,36000,F,45,EH,348,3.31
2788086,202207,화,0,1122054,37000,M,55,EH,308,3.29
2788087,202207,화,0,1122054,38000,F,40,EH,323,3.45
2788088,202207,화,0,1122054,38000,M,20,EH,246,*