In [2]:
import pandas as pd
import numpy as np

In [4]:
move_data_0700 = pd.read_csv('/Users/minkyuramen/Desktop/생활이동_행정동_202207/생활이동_행정동_2022.07_00시.csv', encoding='euc-kr')
move_data_0700

,대상연월,요일,도착시간,출발 행정동 코드,도착 행정동 코드,성별,나이,이동유형,평균 이동 시간(분),이동인구(합)
0,202207,금,0,1101053,1101053,F,15,HE,6,4.04
1,202207,금,0,1101053,1101053,F,20,EE,43,*
2,202207,금,0,1101053,1101053,F,20,HH,10,*
3,202207,금,0,1101053,1101053,F,20,WH,21,4.32
4,202207,금,0,1101053,1101053,F,25,EE,12,4.06
...,...,...,...,...,...,...,...,...,...,...
2906200,202207,화,0,39000,1125065,M,20,EH,168,*
2906201,202207,화,0,39000,1125067,M,20,EE,240,*
2906202,202207,화,0,39000,1125071,F,50,EH,673,3.11
2906203,202207,화,0,39000,1125073,M,20,EE,218,*
2906204,202207,화,0,39000,1125074,M,25,EH,204,4.52

In [16]:
# 법정동 코드(강남역)
## 서초동 : 11220530 , 11220540
## 역삼동 : 11230640 , 11230650

Empty DataFrame
Columns: [대상연월, 요일, 도착시간, 출발 행정동 코드, 도착 행정동 코드, 성별, 나이, 이동유형, 평균 이동 시간(분), 이동인구(합)]
Index: []